<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Genderu Gamu</title>
		<link rel='stylesheet' href='css/styleHome.css'/>
	</head>
	<body>
		<header>
			<nav>
				<a href="http://localhost:4000"><h1>Genderu Gamu</h1></a>
			</nav>

			<section class="presentation first">
				<div class="product-presentation">
					<h1 class="welcome">Bienvenue sur Genderu Gamu</h1>
					<p>
						Genderu Gamu (Gender Game) est un nouveau jeu.<br/>
						Un prénom s'affichera à l'ecran et tu devras deviner s’il est masculin ou féminin.<br/>
						Tu as dix points de vie (PV), à chaque faute, tu perds un PV et à chaque bonne réponse tu en gagnes un.<br/>
						Quand tu atteins 20 points de vie c'est la victoire, et 0 points de vie c'est la défaite. <br/>
						Bonne chance gameru (gamer).<br/>
					</p>
					<button><a href="http://localhost:4000/game">Jouer maintenant</a></button>
					<div class="small-images">
						<div class="small">
							<img
								src="images/Lovepik_com-828784779-Meaty meb hand drawn vector cute green icon element.png"
							/>
						</div>
						<div class="small">
							<img
								src="images/Lovepik_com-828784782-Succulent cactus meb hand drawn vector cute green icon element.png"
							/>
						</div>
						<div class="small">
							<img
								src="images/Lovepik_com-828787567-Meaty meb hand drawn vector cute green icon element.png"
							/>
						</div>
					</div>
				</div>
				<div class="image-presentation">
					<img
						src="images/—Pngtree—cute ginger cat head_5304599.png"
					/>
				</div>
			</section>
		</header>

		<footer>
			<div class="column">
				<h3>Aide</h3>
				<p>Email</p>
				<p>Numéro</p>
				<p>Documents</p>
			</div>
			<div class="column">
				<h3>Regle du jeu</h3>
				<p>Lire le prénom</p>
				<p>Deviner le genre du prénom</p>
				<p>Recommencer</p>
			</div>
			<div class="column">
				<h3>Réseaux</h3>
				<p>Twitter</p>
				<p>Instagram</p>
			</div>
		</footer>
	</body>
</html>